@model CommissionInfoViewModel
@inject IArtistService ArtistService
@{
    ViewData["Title"] = "Info";

    var commission = Model.Commission;
    var props = Model.Props;
}


<div class="row">
    <div class="card col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <div class="container pb-5">
            <div class="card-body">
                <div class="title-margin">
                    <h1 class="card-title">@commission.Title</h1>
                    @if (commission.IsForCommercialUse)
                    {
                        <span class="badge badge-secondary">Commercial</span>
                    }
                    @if (commission.IsPrivate)
                    {
                        <span class="badge badge-secondary">Private</span>
                    }
                </div>
                @if (ArtistService.GetIdByUser(this.User.Id()) == commission.ArtistId)
                {
                    <form method="post" asp-controller="Commissions" asp-action="UpdateCommission" asp-route-id="@commission.Id">
                        <div class="col-4 float-right">
                            <label asp-for="Commission.Status">
                                Update Status
                            </label>
                            <select asp-for="Commission.Status" class="form-control" style="border-color: #17a2b8;" id="exampleFormControlSelect1">
                                @foreach (int option in Enum.GetValues(typeof(Status)))
                                {
                                    <option value="@option">@((Status) option)</option>
                                }
                            </select>
                            <button type="submit" class="btn btn-sm btn-outline-info mt-2">Submit</button>
                        </div>
                    </form>
                }
            </div>
            <div class="container">
                <div class="mb-4 mt-3">
                    <h5><small class="card w-25 border-info text-center p-2">Status: @((Status)commission.Status)</small></h5>
                </div>
                <h3 class="card-title">Info</h3>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-subtitle">Commission type</h5>
                        <p class="card-text">@((CommissionType)commission.CommissionType)</p>
                        <h5 class="card-subtitle">Scenery type</h5>
                        <p class="card-text">@((SceneryType)commission.SceneryType)</p>

                        @if (commission.NoteFromClient != null)
                        {
                            <h5 class="card-subtitle p-2">Note from Client</h5>
                            <p class="card-text card p-2 col-8">@commission.NoteFromClient</p>
                        }
                    </div>
                    @if (props.Any())
                    {
                        <div class="card-body">
                            @foreach (var prop in Model.Props)
                            {
                                <div class="card card-body col-8">
                                    <h5 class="card-title">@prop.Name<small class="float-right badge badge-info">Quantity @prop.Quantity</small></h5>
                                    <p class="card-text">@prop.Description</p>
                                </div>
                            }
                        </div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">Total price: @($"{commission.Price:00}") EUR.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>