@model AllArtworksViewModel
@{
    ViewData["Title"] = "All";

    var artworks = Model.Artworks;
    var page = Model.Page;
    var maxPage = Model.MaxPage;
}

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Search"></label>
                        <input asp-for="Search" class="form-control" placeholder="Search for something specific..">
                    </div>
                    <div class="form-group">
                        <label asp-for="Order"></label>
                        <select class="form-control" asp-for="Order">
                            <option value="0" selected>Like Count</option>
                            <option value="1">Latest Uploaded</option>
                            <option value="2">Name Alphabetically</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info col-6 float-right">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <button type="button" class="btn btn-info col-2 mt-2 float-right" data-toggle="modal" data-target="#filterModal">Filter</button>
    <h1 class="title-margin col-8">Recommended artworks</h1>
</div>
<div>
    @if (!artworks.Any())
    {
        <p class="card-text">No artworks found</p>
    }
    else
    {
        <div class="row">
            @foreach (var art in artworks)
            {
                <partial name="_ArtPartial" model="@art" />
            }
        </div>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item @(page == 1 ? "disabled" : "")">
                    <a class="page-link" asp-controller="Artworks" asp-action="All" 
                       asp-route-page="@(page - 1)" 
                       asp-route-order="@Model.Order" asp-route-search="@Model.Search">Previous</a>
                </li>
                @for (var i = 1; i <= maxPage; i++)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Artworks" asp-action="All" 
                           asp-route-page="@(i)"
                           asp-route-order="@Model.Order" asp-route-search="@Model.Search">@i</a>
                    </li>
                }
                <li class="page-item @(page == maxPage ? "disabled" : "")">
                    <a class="page-link" asp-controller="Artworks" asp-action="All" 
                       asp-route-page="@(page + 1)"
                       asp-route-order="@Model.Order" asp-route-search="@Model.Search">Next</a>
                </li>
            </ul>
        </nav>
    }
</div>