@model ArtViewModel
@inject IArtistService _artistService
@{
    ViewData["Title"] = "Art";

    var artwork = Model.Artwork;
    ViewBag.Id = artwork.Id;
}



<div class="row">
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12">
        <div class="card">
            <img class="card-img-top" src="@artwork.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@artwork.Title</h5>
                <a asp-controller="Artists" asp-action="Profile" asp-route-id="@artwork.ArtistId" class="card-link">
                    <p class="card-text"><small class="text-muted">By @artwork.ArtistName</small></p>
                </a>
                <p class="card-text">@artwork.Description</p>
            </div>
            <div class="mt-4 pl-5 pr-5">
                <div class="container">
                    <a asp-controller="Artworks" asp-action="Like" asp-route-id="@artwork.Id" role="button" class="btn btn-outline-info @(Model.IsLiked ? "active" : "")" aria-pressed="@(Model.IsLiked ? "true" : "false")">Like@(Model.IsLiked ? "d" : "")</a>
                    @if (artwork.ArtistId == _artistService.GetIdByUser(this.User.GetId()))
                    {
                        <a asp-controller="Artworks" asp-action="Delete" asp-route-id="@artwork.Id" role="button" class="btn btn-outline-info float-right">Delete</a>
                    }
                </div>
                <div class="container">
                    <p class="card-text"><small class="text-muted">Likes - @artwork.Likes</small><small class="text-muted float-right">Views - @artwork.Views</small></p>
                </div>
            </div>
            <div class="card-body m-1">
                <div class="card mb-3">
                    <partial name="CommentFormPartial" model="new CommentFormModel()" />
                </div>
                @if (Model.Comments != null)
                {
                    @foreach (var comment in @Model.Comments.OrderByDescending(c => c.Id))
                    {
                        <div class="card">
                            <partial name="CommentPartial" model="comment" />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>