@model ArtViewModel
@{
    ViewData["Title"] = "Art";
}



<div class="row">
    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12">
        <div class="card">
            <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
            </div>
            <div class="card-body">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Artworks" asp-action="Like" asp-route-id="@Model.Id" role="button" class="btn btn-outline-info @(Model.IsLiked ? "active" : "")" aria-pressed="@(Model.IsLiked ? "true" : "false")">Like@(Model.IsLiked ? "d" : "")</a>
                }
                <p class="card-text"><small class="text-muted">Likes - @Model.Likes</small><small class="text-muted" style="float: right">Views - @Model.Views</small></p>
            </div>
            <div class="card-body">
                @*COMMENTS*@
            </div>
        </div>
    </div>
</div>