@model ListOfArtworksServiceModel
@inject IArtistService ArtistService
@{
    var currentAction = this.ViewContext.RouteData.Values["action"].ToString();
}

<div class="square-img-container">
    <a asp-controller="Artworks" asp-action="Art" asp-route-id="@Model.Id" class="card-link">
        <img class="square-img" src="@Model.ImageUrl" alt="@Model.Title">
    </a>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        @if (currentAction != "MyArtworks")
        {
            <a asp-controller="Artists" asp-action="Profile" asp-route-id="@Model.ArtistId" class="card-link">
                <p class="card-text"><small class="text-muted">By @ArtistService.GetName(Model.ArtistId)</small></p>
            </a>
        }
    </div>
</div>