@model ArtistViewModel
@inject IArtistService ArtistService
@{
    ViewData["Title"] = "Profile";
}
@{
    var showMore = Model.Artworks.Count > 2;
}

<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
    <div class="card mb-3">
        <img class="avatar" src="@Model.AvatarUrl" alt="avatar">
        <div class="card-body">
            @if (@Model.Id != ArtistService.GetIdByUser(this.User.GetId()))
            {
                <a asp-controller="Artists" asp-action="Follow" asp-route-id="@Model.Id" role="button" aria-pressed="@(Model.IsFollowed ? "true" : "false")" class="btn btn-outline-info col-2 float-right @(Model.IsFollowed ? "active" : "")">Follow@(Model.IsFollowed ? "ing" : "")</a>
            }
            <h3 class="card-title">@Model.Name</h3>
            <h5><span class="badge badge-pill badge-info">@(Model.AvailableToCommission ? "Accepting commissions" : "")</span></h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-muted">Followers - @Model.Followers</small></p>
            @if (@Model.Id == ArtistService.GetIdByUser(this.User.GetId()))
            {
                <a asp-controller="Artists" asp-action="Settings" role="button" class="btn btn-outline-info col-2 float-right">Settings</a>
            }
        </div>
        <div class="card-body">
            @if (@Model.Id != ArtistService.GetIdByUser(this.User.GetId()) && Model.AvailableToCommission)
            {
                <a asp-controller="Commissions" asp-action="Commission" asp-route-id="@Model.Id" role="button" class="btn btn-outline-info col-5">Commission</a>
            }
        </div>
    </div>
    <div class="card pb-4">
        @if (Model.Artworks != null)
        {
            <div class="row">
                @foreach (var art in Model.Artworks.Take(2))
                {
                    <partial name="~/Views/Artworks/ArtPartial.cshtml" model="@art" />
                }
            </div>
            @if (showMore)
            {
                <a asp-controller="Artworks" asp-action="Artworks" asp-route-id="@Model.Id" role="button" class="btn btn-outline-info col-6 m-auto">Show more</a>
            }
        }
    </div>
</div>