@model ArtistProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="card col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
    <img class="card-img-top avatar" src="@Model.AvatarUrl" alt="avatar">
    <a asp-controller="Artists" asp-action="Settings" role="button" class="btn btn-outline-info col-3 float-right">Settings</a>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text"><small class="text-muted">Followers - @Model.Followers</small></p>
        <p class="card-text"><small class="text-muted">Available to commission - @(Model.AvailableToCommission ? "Yes" : "No")</small></p>
    </div>
</div>