@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IArtistService ArtistService


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = this.User.Id();
        var isArtist = ArtistService.IsArtist(userId);
        @if (isArtist)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Artists" asp-action="Profile" asp-route-id="@ArtistService.GetIdByUser(this.User.Id())">@ArtistService.GetName(ArtistService.GetIdByUser(userId))</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Artworks" asp-action="Artworks" asp-route-id="@ArtistService.GetIdByUser(this.User.Id())">Artworks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Commissions" asp-action="Commissions" asp-route-id="@ArtistService.GetIdByUser(this.User.Id())">Commissions</a>
            </li>
        }
        else if (!User.IsAdmin())
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Artists" asp-action="BecomeArtist">Become an Artist</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
